@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Erro 404 - Differencial - Inspeções de Risco</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Página não encontrada</h3>

        <div class="error-desc">
            Desculpe, mas a página que você está procurando não foi encontrada. Tente verificar o URL em busca de erro e, em seguida, pressione o botão Atualizar no seu navegador ou tente encontrar outra coisa em nosso aplicativo.
            <br />
            <br />
            <a href="~/Home/Index" class="btn btn-primary">Voltar</a>

        </div>
    </div>


</body>

</html>


