@{
    ViewBag.Title = "Bem Vindo";
}
@Html.PageHeading("", @Html.ActionLink("Início", "Inicio", "Home")  ) 

<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="text-center">
                    <img src="~/Images/identidade_cliente/inicio-min.png" /> 
                </div>
            </div>
        </div>
    </div>
</div>