@model Differencial.Domain.Entities.Operador

@if (Model != null && Model.Vistoriador != null)
{
    @Html.HiddenFor(m => m.Vistoriador.Id)
}
@if (Model != null && Model.Vistoriador != null && Model.Vistoriador.EnderecoBase != null)
{
    @Html.HiddenFor(m => m.Vistoriador.EnderecoBase.Id)
}
@{

}

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabCidadeBase">Cidade Base</a></li>
        <li class='@(Model?.Vistoriador == null? "tab-disabled" : "")' ><a data-toggle="tab" href="#tabProdutos" class="disabled">Produtos</a></li>
        @*<li><a data-toggle="tab" href="#tabDadosBancarios">Dados Bancários</a></li>*@
    </ul>
    <div class="tab-content">
        <div id="tabCidadeBase" class="tab-pane active">
            <div class="panel-body">
                @await Html.PartialAsync("Vistoriador/_CidadeBase", Model)
            </div>
        </div>
        <div id="tabProdutos" class="tab-pane">
            <div class="panel-body">
                @await Html.PartialAsync("Vistoriador/_Produtos")
                
            </div>
        </div>
        <div id="tabDadosBancarios" class="tab-pane">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>


