<div class="row" style="margin-top: -10px !important">
    <div class="pull-right form-group no-margins">
        <button type="button" class="btn btn-primary btn-sm" id="btnNovoSolicitante">Novo</button>
        <button type="button" class="btn btn-primary btn-sm" id="btnExcluirSolicitante">Excluir</button>
        <button type="button" class="btn btn-primary btn-sm" id="btnAbrirSolicitante">Abrir</button> 
    </div>
</div>

<div class="row">
    <div class="table-responsive no-margin-top">
        <table id="gridSeguradoraSolicitante" class="grid-dataTables display table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class=""></th>
                    <th class="">Nome</th>
                    <th class="w20Perc">Tipo</th>
                    <th class="w10Perc">Telefone</th>
                    <th class="w10Perc">Email</th> 
                    <th class="w100px">Cadastro</th>
                    <th class="w100px">Modificação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>