@model Solicitacao
@using Differencial.Domain.Enums.WorkFlow;
@{
	ViewBag.Title = "Solicitação de Vistoria";

	string linkSolicitacao = string.Format("<a href=\"{0}\">Cód. {0}</a>", Model != null && Model.Id > 0 ? Model.Id.ToString() : "#");

	ViewBag.lstAcoesDisponiveis = HtmlWorkFlowHelper.AcoesDisponiveis(ViewData.Model);
	ViewBag.lstAtivDisponiveis = new List<TipoAtividadeEnum>();
	ViewBag.lstContratoParametroObrig = new List<TipoContratoParametroEnum>();

	var linkAcoes = await Html.PartialAsync("WorkFlow/_BotoesAcoes");
}
@Html.PageHeading("Novo", @Html.ActionLink("Início", "Inicio", "Home"))
<div class="wrapper wrapper-content p-xxs">
	<div class="row">
		<div class="col-sm-12 p-n">
			@using (Html.BeginBox(linkSolicitacao, maximizavel: true, actionsRight: [linkAcoes]))
			{

				<div class="feed-activity-list">
					@using (Html.BeginForm("Inserir", "Solicitacao", FormMethod.Post))
					{
						@await Html.PartialAsync("_Form") 
						<br /> 

					}
				</div>

			}
		</div>
	</div>
</div>

@section Styles {
	@*@Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")*@
	<style>
		.inmodal .modal-header {
			padding: 15px;
			text-align: left;
		}

		.hr-line-dashed {
			border-top: 1px dashed #B3B3B3;
			height: 1px;
			margin: 20px 0;
		}


		.tab-content > .tab-pane,
		.pill-content > .pill-pane {
			display: block;
			height: 0;
			overflow-y: hidden;
		}

		.tab-content > .active,
		.pill-content > .active {
			height: auto;
		}

		.tabs-container .tab-pane .panel-body {
			min-height: 380px !important;
		}
	</style>
}


@section Scripts { 
	<script asp-append-version="true" src="~/scripts/app/Solicitacao/workFlow.js"></script>
	<script asp-append-version="true" src="~/scripts/app/Solicitacao/quadroFotos.js"></script>
	<script asp-append-version="true" src="~/scripts/app/Solicitacao/comumSolicitacao.js"></script>

}


