# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build Deploy - Assertiva-HML

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Calculate Build Version
        id: version
        shell: pwsh
        run: |
          $commitCount = git rev-list --count HEAD
          $version = "1.1.$commitCount"
          Write-Host "Build version: $version"
          echo "VERSION=$VERSION" >> $env:GITHUB_ENV

      - name: dotnet build
        run: dotnet build .\src\DifferencialApp.sln --configuration Release -p:Version=${{ env.VERSION }}

      - name: dotnet publish
        run: dotnet publish .\src\DifferencialApp.sln -c Release -o "${{env.DOTNET_ROOT}}\myapp" -r win-x86 --self-contained true -p:Version=${{ env.VERSION }}

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_276179A66D6D487CB04410763F6792C5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A917958BBDE547F1BAE399B45622DAD4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D1B959575B8841859907A61BA879792B }}

      - name: Deploy to Azure
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'assertiva-hml'
          slot-name: 'Production'
          package: .
          